.settings {
    margin: 25px 0;
    padding: 0 25px;

    .box-container {
        background: white;
        border-radius: 6px;

        .links {
            display: flex;
            border-bottom: 1px solid var(--lineColor);
            margin-bottom: 20px;

            li {
                color: var(--txtColor);
                display: flex;
                align-items: center;
                font-weight: 500;
                cursor: pointer;
                padding: 20px;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    background: var(--mainColor);
                    width: 0;
                    height: 2px;
                    transition: .5s ease;
                }

                .icon {
                    font-size: 20px;
                    margin-right: 8px;
                }
            }

            li.active {
                color: var(--mainColor);

                &::before {
                    width: 100%;
                }

            }
        }

        .content {
            padding: 0 20px;

            .img-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                img {
                    width: 120px;
                    height: 120px;
                    border-radius: 6px;
                    object-fit: cover;
                }

                .info {
                    margin-left: 20px;

                    button {
                        padding: 10px 20px;
                        background: var(--mainColor);
                        color: white;
                        border: none;
                        border-radius: 6px;
                        font-weight: 500;
                        cursor: pointer;
                        margin-bottom: 20px;
                        transition: 0.3s;

                        &:hover {
                            background: #7931ff;
                            box-shadow: 0px 6px 18px -8px rgba(58, 53, 65, 0.56);
                        }
                    }

                    button.reset {
                        margin-left: 10px;
                        background: transparent;
                        color: #ff4c51;
                        border: 1px solid #ff4c51;
                        box-shadow: none;

                        &:hover {
                            background: #ff4c5221;
                        }
                    }

                    p {
                        font-size: 14px;
                        color: var(--txtColor);
                    }
                }
            }

            .form {
                display: flex;
                gap: 10px;
                padding-bottom: 20px;
                flex-wrap: wrap;

                input,
                select {
                    padding: 15px 10px;
                    font-size: 16px;
                    outline: none;
                    margin: 1px;
                    width: 100%;
                    color: var(--txtColor);
                    border-radius: 6px;
                    border: 2px solid var(--lineColor);

                    &:focus {
                        border-color: var(--mainColor);
                    }
                }

                %field {
                    position: relative;

                    label {
                        position: absolute;
                        font-size: 12px;
                        top: -9px;
                        left: 10px;
                        background: #FFF;
                        padding: 2px;
                        color: var(--txtColor);
                    }
                }

                .username,
                .name,
                .email,
                .selection {
                    @extend %field;
                    width: 49%;

                    &:focus-within {
                        label {
                            color: var(--mainColor);
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:756px) {
    .settings .box-container {
        .links {
            li .icon {
                display: none;
            }
        }

        .content {
            .img-wrapper {
                flex-direction: column;

                .info {
                    display: flex;
                    flex-direction: column;

                    button.upload {
                        margin-top: 10px;
                        margin-bottom: 5px;
                    }

                    button.reset {
                        margin-left: 0;
                        margin-bottom: 10px;
                    }
                }
            }

            .form .username,
            .form .name,
            .form .email,
            .form .selection {
                width: 100%;
            }
        }

    }
}

// dark mode configuration

.settings.dark .box-container {
    background: var(--darkCardColor);

    .content {
        .info-tab {
            textarea {
                background: transparent;
                color: rgba(231, 227, 252, 0.842);
                border-color: #595572;

            }

            label {
                background: var(--darkCardColor);
                color: rgba(231, 227, 252, 0.68);
            }
        }

        .form {
            .sex p {
                color: rgba(231, 227, 252, 0.68);
            }

            input,
            select {
                color: rgba(231, 227, 252, 0.842);
                background: transparent;
                border-color: #595572;
            }

            select option {
                background: var(--darkCardColor);
            }

            label {
                color: rgba(231, 227, 252, 0.68);
                background: #312d4b;
            }
        }

        .img-wrapper .info p {
            color: rgba(231, 227, 252, 0.68);
        }

    }


    .links li {
        color: rgba(231, 227, 252, 0.68);

        &:hover {
            color: var(--mainColor);
        }
    }

    .links li.active {
        color: var(--mainColor);
    }
}

@media (max-width:1100px) {
    .settings {
        height: 100vh;
    }
}